@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
body {

    background-image: url("./bg1.jpg"); 
    background-size: cover;           
    background-position: center;       
    background-repeat: no-repeat;      
    background-attachment: fixed;
}
h1 {
    color: #000;
    font-family: 'Orbitron', sans-serif;
    font-size: 44px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 3px solid #000;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    letter-spacing: 3px;
}

.title-section {
    width: 90%;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    background-color: rgba(249, 249, 249, 0);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
}

h1 {
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid black;
}
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.content1, .content2 {
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-info, .aboutme, .skills, .experience, .education, .military, .Languages {
    background-color: rgba(249, 249, 249, 0);
    border: 2px solid black;         
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 20px;
    flex: 1;
    min-width: 150px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-align: left;
    font-size: 15px;
    line-height: 1.4;   
}




